*{
    margin: 0;
    padding: 0;
}
main{
    background-image: url("images/background.jpg");
    height: 80vh;
}
main .box{
    background-color: black;
    height: 80vh;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
}
nav {
    background-color: red;
} 